@{
    ViewData["Title"] = "Admin Dashboard";
    this.Layout = "_Layout";
}

<h2>Admin Dashboard</h2>
<p>Welcome, Admin!</p>
<hr />

<ul class="list-unstyled w-100 d-flex justify-content-center align-items-center">
    <li><a asp-area="Administration" asp-action="ManageUsers" asp-controller="Admin">Manage Users</a></li>
    <li><a asp-area="Administration" asp-action="ManageRoles" asp-controller="Admin">Manage Roles</a></li>
</ul>